%h1 Liste des independants ruby/rails français

%table
  %tr
    %th First name
    %th Last name
    %th Website url
    %th Phone
    %th Bio
    %th Email
    %th Address 1
    %th Address 2
    %th Zip
    %th City
    %th
    %th
    %th

  - @independants.each do |independant|
    %tr
      %td= independant.first_name
      %td= independant.last_name
      %td= independant.website_url
      %td= independant.phone
      %td= independant.bio
      %td= independant.email
      %td= independant.address_1
      %td= independant.address_2
      %td= independant.zip
      %td= independant.city
      %td= link_to 'Show', independant
      %td= link_to 'Edit', edit_independant_path(independant)
      %td= link_to 'Destroy', independant, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Independant', new_independant_path
