%p#notice= notice

%p
  %b First name:
  = @independant.first_name
%p
  %b Last name:
  = @independant.last_name
%p
  %b Website url:
  = @independant.website_url
%p
  %b Phone:
  = @independant.phone
%p
  %b Bio:
  = @independant.bio
%p
  %b Email:
  = @independant.email
%p
  %b City:
  = @independant.city

= link_to 'Edit', edit_independant_path(@independant)
\|
= link_to 'Back', independants_path
